:root {
    --primary-color: #00487C;
    --gray-color: #EFF1ED;
    --secundary-color: #8093F1;
    --thirdary-color: #464D77;
    --title-color: #FB8F67;
    --font: 1.5rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body{
  max-width: 100rem;
  font-family: Helvetica, sans-serif;
  margin: 0 auto;
  background-color: var(--gray-color);
}
header{
    background-color: var(--primary-color);
}
.title{
    color: var(--gray-color);
    font-size: 2.5rem;
}
.content {
    display: flex;
    flex-direction: column;
    min-height: 39rem;
    width: 100%;
    background-color: var(--primary-color);
    font-size: var(--font);
}

img {
    display: block;
    width: 90%;
    max-width: 31rem;
    border-radius: 2rem;
    margin: 1rem auto;
}

section{
    height: 50rem;
}
.aboutMe{
    background-color: var(--secundary-color);
}

.study{
    background-color: var(--thirdary-color);
}

.proyectos{
    background-color: var(--primary-color);
}
.contacMe{
    background-color: var(--secundary-color);
}
footer {
    background-color: var(--thirdary-color);
    color: var(--secundary-color);
    
}