:root {
    --primary-color: pink;
    --gray-color: rgba(79, 87, 114, 0.993);
    --light-color: rgb(230, 223, 209);
    --font: 1.2rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

body{
    display: flex;
    flex-wrap: wrap;
}

.content {
    margin: 0 auto;
    height: 50rem;
    width: 100%;
    min-width: 31rem;
    background-color: var(--primary-color);
    font-size: var(--font);
}
.img-container{
    background-color: var(--gray-color);
    margin: 1rem auto;
}


.span {
    background-color: var(--gray-color);
    color: var(--light-color);
    opacity: 85%;
    padding: 2rem;
    display: inline-block;
    position: relative;
    top:  5rem; 
}

img {
    width: 27rem;
    border-radius: 2rem;
}




footer {
    background-color: var(--gray-color);
    color: var(--light-color);
}